* {
    box-sizing: border-box;
}

.wrapper {
    max-inline-size: 1400px;
    margin-inline: auto;
}

.wrapper-post {
    max-inline-size: 1200px;
    margin-inline: auto;
}

body {
    font-family: 'Constantia', serif;
    font-size: 1.2rem;
    background-color: #222527;
    min-block-size: 100dvh;
}

main {
    background-color: #282D2F;
    justify-content: center;
    align-content: center;
    border-radius: 100px;
    border: #7fc6df09 double 20px;
    margin-block: 20px;
}

a {
    text-decoration: none;
    color: #222527;
}

a:hover,
a:focus-visible {
    font-weight: bold;
    color: #7FC5DF;
}

h1 {
    margin-block-start: 50px;
}

img {
    display: block;
    max-width: 100%;
    border: 3px solid #7FC5DF;
    border-radius: 10px;
    position: relative;
	box-shadow: 10px 10px 10px 0px rgba(35, 25, 43, 0.70);
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #556078;
    justify-content: space-between;
    align-content: center;
    padding-inline: 10px;
    border-radius: 0px 0px 30px 30px;
    border: #5e6c8bd5 double 10px;
    border-top: none;
    position: sticky;
    top: 0px;
    z-index: 10;
    margin-block-start: -10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #556078;
    justify-content: space-between;
    align-content: center;
    padding-inline: 10px;
    border-radius: 30px 30px 0px 0px;
    border: #5e6c8bd5 double 10px;
    border-bottom: none;
    margin-block-end: -80px;
}

.logo {
    border: none;
    inline-size: 5%;
    block-size: 5%;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 0px 0px rgba(35, 25, 43, 0.70);
}

.title-background {
    background-color: #556078;
    text-align: center;
    padding: 10px;
    inline-size: fit-content;
    margin-inline: auto; /* This centers the box */
    border: #111 solid 5px;
    border-radius: 15px;
    position: relative;
	box-shadow: 10px 10px 10px 0px rgba(35, 25, 43, 0.70);
}

.subtitle-background {
    background-color: #556078;
    text-align: center;
    padding: 10px;
    inline-size: fit-content;
    margin-inline: auto; /* This centers the box */
    border: #111 solid 5px;
    border-radius: 15px;
    position: relative;
	box-shadow: 10px 10px 10px 0px rgba(35, 25, 43, 0.70);
}

.blog-title {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    position: relative;
}

.blog-background {
    border-style: solid;
    border-color: #111;
    border-inline-width: 5px;
    border-block-start-width: 5px;
    border-block-end-width: 0px;
    border-radius: 15px 15px 0px 0px;
    background-color: #556078;
    box-shadow: 10px 0px 10px 0px rgba(35, 25, 43, 0.70);
}

.blog-preview {
    border-style: solid;
    border-color: #111;
    border-inline-width: 5px;
    border-block-end-width: 5px;
    border-radius: 0px 0px 15px 15px;
    background-color: #556C78;
    padding-inline: 20px;
    box-shadow: 5px 5px 10px 5px rgba(35, 25, 43, 0.70);
}

.blog-post {
    margin-block: 20px;
    margin-inline: 10px;
}

.section-background-blog {
    background-color: #3C494F;
    text-align: center;
    padding: 30px;
    justify-content: center;
    align-content: center;
    margin-inline: 20px;
    border: #111 solid 5px;
    border-radius: 30px;
    min-inline-size: 400px;
    margin-block: 40px;
}

.post-title {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    position: relative;
    margin-inline: 100px;
}

.post-background {
    border-style: solid;
    border-color: #111;
    border-inline-width: 5px;
    border-block-start-width: 5px;
    border-block-end-width: 0px;
    border-radius: 15px 15px 0px 0px;
    background-color: #556078;
    margin-block-start: 50px;
}

.post-body {
    border-style: solid;
    border-color: #111;
    border-inline-width: 5px;
    border-block-end-width: 5px;
    border-radius: 0px 0px 15px 15px;
    background-color: #556C78;
    padding-inline: 20px;
    margin-inline: 100px;
    margin-block-end: 50px;
}

.sticky-bar {
    position: static;
    top: 80px;
    background-color: #556078;
    border: solid 5px #111;
    border-radius: 15px;
    padding-inline: 20px;
    block-size: fit-content;
    inline-size: 300px;
    min-inline-size: 230px;
    margin: 10px;
    justify-content: center;

    @media (width > 800px) {
        position: sticky;
    }
}

.section-background {
    background-color: #3C494F;
    text-align: center;
    padding: 30px;
    justify-content: center;
    align-content: center;
    inline-size: 80%;
    margin-inline: auto;
    border: #111 solid 5px;
    border-radius: 15px;
    min-inline-size: 400px;
}

.project-background {
    background-color: #3C494F;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: #111 solid 5px;
    border-radius: 15px;
    padding: 10px;
}

.two-column-project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-block: 0px;
    justify-content: center;
}

.two-column-project p {
    max-inline-size: 150px;
}

.two-column-project img {
    max-inline-size: 150px;
    max-block-size: 150px;
    justify-self: center;
    align-self: center;
}

.two-column-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-block: 10px;
    justify-content: center;
}

.two-column-layout p {
    max-inline-size: 450px;
}

.two-column-layout img {
    max-inline-size: 450px;
}

.two-column-blog {
    display: flex;
    flex-wrap: wrap;
    margin-block: 10px;
    justify-content: space-evenly;

    @media (width > 800px) {
        flex-wrap: nowrap;
    }
}

.three-column-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-block: 10px;
    justify-content: center;

}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin-inline-end: 20px;
}


.categories {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    line-height: 10px;
}

.contact-info p {
    block-size: 2%;
}

.contact-info a{
    text-decoration: none;
    color:#222527;
}

.contact-info a:hover,
.contact-info a:focus-visible {
    color: #7FC5DF;
}

.screenshot:hover {

    @media (width > 800px) {
        transform: scale(1.75);
        z-index: 2;
        border-width: 6px;
    }
}

.stacked-content {
    display: grid;
    grid-template-rows: auto auto;
}

.columned-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-block-end: 20px;
    margin-inline-start: 5px;
    gap: 10px;
}

.shrunk {
    max-inline-size: 300px;
}

.columned-content img {
    max-block-size: 50px;
    z-index: 2;
    scale: 1;
    transition-property: scale;
    transition-duration: 0.5s;
    margin-block-start: 10px;
}

.columned-content img:hover,
.columned-content img:focus-visible {
    scale: 3;
    z-index: 3;
    box-shadow: none;

    @media (width > 800px) {
        transform: translateY(-30px);
        position: relative;
        scale: 10;
        z-index: 3;
        border-width: 1px;
        box-shadow: none;
    }
}

.navigation li {
    font-size: 1.5rem;
}

.navigation a {
    font-weight: bold;
    text-decoration: none;
    color: #222527;
}

.navigation a:hover,
.navigation a:focus-visible {
    color: #7FC5DF;
}

.no-bullet {
    margin-inline: 100px;
    padding: 0px;
}

.no-bullet li {
    list-style: none;
}